@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    /*@apply bg-white;*/
}

.btn{
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
}


.meeting-text p{
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
}

blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}

p {
    @apply py-2;
}

.my-container {
        @apply container px-6 py-24 mx-auto text-gray-600;
}

.header-1 {
    @apply text-2xl sm:text-3xl font-medium  mb-4 text-gray-900 text-center;
}

.header-2 {
    @apply text-lg sm:text-xl text-gray-900 font-medium   mb-2 ;
}
